@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#leftMenu {
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: none;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
}

#leftMenu.active {
    display: block;
    right: 0%;
}

#leftMenu .inner {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f9f9fa;
    height: 100vh;
    margin: 0;
    padding-top: 0;
}

.leftMenu_header {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #fff;    
    box-shadow: 0px 0px 6px #9c9c9c;
}


.leftMenu_header .m_logo {
    position: absolute;
    left: 12px;
    width: auto;
    height: 100%;
    display: flex;
}

.leftMenu_header .m_logo img {
    width: 98px;
    height: 26px;
    margin: auto 0;
}

.leftMenu_header .m_closeBtn {
    position: absolute;
    right: 9px;
    width: auto;
    height: 100%;
    display: flex;
}

.leftMenu_header .m_closeBtn img {
    width: 26px;
    height: 26px;
    margin: auto 0;
}

.leftMenu_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 24px 0 0;
}

.m_header_menu {
    justify-content: center;
    margin: 12px 0 12px 40px;
}

.m_header_menu p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #595757;
    margin: 0;
}

.leftMenu_content .leftMenu_line {
    width: auto;
    height: 0;
    margin: 24px 24px 36px;
    border: solid 1px #9c9c9c;
}

.leftMenu_content .sns_icon {
    width: auto;
    height: auto;
    margin: 0 0 11px 40px;
}

.leftMenu_content .sns_icon img {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.leftMenu_content .line_m_header_menu {
    width: auto;
    height: auto;
    margin: 7px 0 7px 40px;
}

.leftMenu_content .line_m_header_menu p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 0;
}

.leftMenu_footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 12px;
}

.leftMenu_footer p {
    font-family: SpoqaHanSansNeo-Light;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}